@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
       url('../fonts/source-code-pro-v9-latin-500.woff2') format('woff2'),
       url('../fonts/source-code-pro-v9-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
       url('../fonts/titillium-web-v7-latin-600.woff2') format('woff2'),
       url('../fonts/titillium-web-v7-latin-600.woff') format('woff');
}
body {
    color: #4d5977;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    background: #ededed;
    margin: 0 10px;
    overflow: hidden;
    transition: color .1s linear, background .1s linear;
}
.darkmode {
    color: #9fa4ae;
    background: #192029;
}
#page {
    position: relative;
    max-width: 870px;
    margin: 0 auto;
    transition: max-width .1s linear;
}
.fullscreen #page {
    max-width: 100%;
}
.overlay {
    background: #ededed;
    transition: background .1s linear, min-height .1s linear, height .1s linear, width .1s linear;
}
.darkmode .overlay {
    background: #192029;
}
#jumbo {
    position: absolute;
    top: 288px;
    height: 48px;
    line-height: 48px;
    font-size: 42px;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: background .1s linear;
}
#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    min-height: 88px;
    overflow: hidden;
}
.fullscreen #menu {
    height: 0;
    min-height: 0;
}
.options {
    top: 0;
    right: 0;
    height: 100%;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    clear: both;
}
.options > .option {
    float: left;
    margin-left: 25px;
    cursor: pointer;
}
.options > .option:first-child {
    margin-left: 0;
}
.options > .option > .dot {
    height: 18px;
    width: 18px;
    border: 3px solid #4d5977;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 8px;
    transition: border-width .1s linear, border-color .1s linear;
}
.darkmode .options > .option > .dot {
    border-color: #9fa4ae;
}
.options > .option > .fill {
    border-width: 9px;
}
#output {
    line-height: 24px;
    margin-top: -12px;
}
pre {
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: hidden;
    margin: 0;
}
.pull-right {
    float: right;
}
.notransition, .notransition * {
    transition: none !important;
}
@media screen and (max-height: 600px) {
    #jumbo {
        top: 96px;
    }
}
@media screen and (max-width: 900px) {
    #menu {
        height: auto;
    }
}
@media screen and (max-width: 580px) {
    #menu .options {
        display: block;
    }
    #menu .options.pull-right {
        float: none;
    }
}
@media screen and (max-width: 360px) {
    .options {
        font-size: 22px;
    }
    .options > .option {
        margin-left: 15px;
    }
}
